<footer class="footer">

    <div class="container">
        <div class="footer-content">
            <span>&copy; 2025 Pokédex Interativa</span>
        </div>

        <address class="social-links">
            <a href="https://github.com/SouzaCleber98" target="_blank"><img src="/assets/img/github.png"
                    alt="link do github" width="40px" /></a>
            <a href="https://www.linkedin.com/in/cleber-souza-62170b270/" target="_blank"><img
                    src="/assets/img/linkdin.png" alt="Link do linkedin" width="40px" /></a>
        </address>

    </div>

</footer>